<h1>Broader</h1>


<div mat-dialog-actions>
  <button mat-button (click)="addNewAlert()">Add New Alert</button>
</div>


<div style="left: 0; right:0;" *ngIf="!loading; else processing">


<div class="alert">ALERT</div>

<br/>

  <mat-form-field appearance="standard">

    <input matInput (keyup)="applyFilter($event)" placeholder="Filter" #input>
  </mat-form-field>

  <table mat-table  style="width:100%" [dataSource]="dataSource" class="mat-elevation-z8">

    <!-- alertId Column -->
    <ng-container matColumnDef="alertId">
      <th mat-header-cell class="grid-head" *matHeaderCellDef> Alert Id</th>
      <td mat-cell *matCellDef="let element"> {{element.alertId}} </td>
    </ng-container>


    <!-- alert Column -->
    <ng-container matColumnDef="alert">
      <th mat-header-cell  class="grid-head"  *matHeaderCellDef> Alert </th>
      <td mat-cell *matCellDef="let element"> {{element.alert}} </td>
    </ng-container>



    <ng-container cdkColumnDef="actions">
      <!-- <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let row"> <button md-raised-button (click)="editAlert()">Edit</button> </td> -->
      <th mat-header-cell  class="grid-head" *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element" class="action-link">
        <a (click)="editAlert(element)">Edit</a>
        <!-- | <a (click)="openDialog('Delete',element)">Delete</a>   -->
      </td>

    </ng-container>


    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>


  </table>

</div>

<ng-template #processing>
  Loading...
</ng-template>
