@use '../../src/styles.scss' as brd;
@use "sass:color";
@use "sass:map";

.red  {
  font-family: brd.$font-stack;
  line-height: 20px;
  font-size: map-get(brd.$font-sizes, "normal");
  color: color.scale(red, $lightness: 10%);
}
.grid-head{
  @include brd.header ;
  font-weight: map-get(brd.$font-weights, "medium");
 }
