@use "sass:color";
@use "sass:map";
$font-stack: Roboto, "Helvetica Neue", sans-serif;

//dark theme colors
$drk-bg: color.scale(black, $lightness: 10%);
$drk-card: color.scale(#064663, $lightness: 20%);
$drk-header: color.scale(#2d4263, $lightness: 20%);
$drk-hover: color.scale(#141e61, $lightness: 20%);
$drk-nav: color.scale(#333456, $lightness: 20%);
$drk-primary-text:  #fdeff4 ;
$drk-secondary-text:  #eeeeee;

//default theme colors
$lght-bg: color.scale(gray, $lightness: 90%);
$lght-card: color.scale(#064663, $lightness: 10%);
$lght-header: color.scale(#2d4263, $lightness: 10%);
$lght-hover: color.scale(#141e61, $lightness: 10%);
$lght-nav: color.scale(#333456, $lightness: 10%);
$lght-primary-text: color.scale(black, $lightness: 30%);
$lght-secondary-text: color.scale(black, $lightness: 40%);

//selected theme colors
$bg: var(--bg);
$card: var(--card);
$header: var(--header);
$hover: var(--hover);
$nav: var(--nav);
$primary-text: var(--primary-text);
$secondary-text: var(--secondary-text);


//all-themes common colors
$class-head-bg: color.scale(#424242, $lightness: 5%) ;
$class-footer-bg: color.scale(#424242, $lightness: 10%) ;
$drawer-bg:#424242;
//styles
$font-sizes: (
  "small": 0.5em,
  "normal": 0.8em,
  "large": 1.5em,
  "x-large": 2em,
);
$font-weights: (
  "regular": 400,
  "medium": 500,
  "bold": 700,
);

@mixin header($bg: $header, $color: $drk-primary-text) {
  background: $bg;
  box-shadow: 0 0 1px rgba($bg, 0.25);
  font-weight: map-get($font-weights, "bold");
  color: $color;
  padding: 1em;
}

@mixin opacity($opacity) {
  opacity: $opacity;
  filter: alpha(opacity=($opacity * 100));
}
@mixin selectedTheme{
  color:$primary-text;
  background-color: $bg;
  transition: all ease-in-out 600ms;
}

:root[theme="dark"] {
  // --primary-color: #{$red-cosmo};
  --bg: #{$drk-bg};
  --card: #{$drk-card};
  --header: #{$drk-header};
  --hover: #{$drk-hover};
  --nav: #{$drk-nav};
  --primary-text: #{$drk-primary-text};
  --secondary-text: #{$drk-secondary-text};
}

:root[theme="default"] {
  --bg: #{$lght-bg};
  --card: #{$lght-card};
  --header: #{$lght-header};
  --hover: #{$lght-hover};
  --nav: #{$lght-nav};
  --primary-text: #{$lght-primary-text};
  --secondary-text: #{$lght-secondary-text};
}

html, body {
  @include selectedTheme;
  font-family: $font-stack;
  line-height: 1.2em;
  font-size: map-get($font-sizes, "normal");
  margin: 0px !important;
}

.selectedTheme{
  @include selectedTheme;
}

.info {
  @include header($card);
  // @include opacity(0.5);
}
.alert {
  @include header;
  font-weight: map-get($font-weights, "medium");
}
.class-head{
  @include header($class-head-bg);
  text-align: center;
}
.class-footer{
  @include header($class-footer-bg);
  text-align: center;

}
